<a href="https://colab.research.google.com/github/YaCpotato/python-data-gottani/blob/master/RandomMissingORNotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [62]:
sample_data = np.random.rand(100, 10)
sample_dataset = pd.DataFrame(sample_data)

In [66]:
def random_missing(target_df,column):
  """
  Input   target_df : Dataframe, 
          column : Number  Column that you'd like to missing randomly
  
  Output  Dataframe that missing randomly
  """
  target_index = np.random.choice(target_df.index)
  target_df.loc[target_index, column] = None
  return target_df

In [67]:
random_missing(sample_dataset,3)

           0         1         2  ...         7         8         9
0   0.970336  0.261267  0.547001  ...  0.588837  0.491393  0.785191
1   0.914521  0.388687  0.821310  ...  0.379034  0.665362  0.420259
2   0.230738  0.160431  0.116535  ...  0.411597  0.887204  0.352183
3   0.629587  0.903982  0.297004  ...  0.964433  0.876892  0.857393
4   0.773764  0.398709  0.009118  ...  0.266697  0.101427  0.220315
..       ...       ...       ...  ...       ...       ...       ...
95  0.646634  0.982012  0.664902  ...  0.721039  0.448617  0.449335
96  0.054575  0.098667  0.587613  ...  0.291237  0.818520  0.736974
97  0.481086  0.959383  0.204279  ...  0.687096  0.670970  0.692811
98  0.407398  0.941140  0.816376  ...  0.065287  0.990921  0.613446
99  0.545985  0.999453  0.441139  ...  0.298860  0.060047  0.645717

[100 rows x 10 columns]

In [68]:
sample_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    float64
 1   1       100 non-null    float64
 2   2       100 non-null    float64
 3   3       97 non-null     float64
 4   4       100 non-null    float64
 5   5       100 non-null    float64
 6   6       100 non-null    float64
 7   7       100 non-null    float64
 8   8       100 non-null    float64
 9   9       100 non-null    float64
dtypes: float64(10)
memory usage: 7.9 KB